.workspace-leaf-content[data-type=pdf-preview] .view-actions .pdf-page-numbers {
    margin-left: var(--size-4-2);
}

.workspace-leaf-content[data-type=pdf-preview] .view-content .pdf-page {
    display: none;
}

.workspace-leaf-content[data-type=pdf-preview] .view-content .pdf-page.page-with-content {
    box-shadow: var(--shadow-s);
    display: block;
}

.workspace-leaf-content[data-type=pdf-preview].has-sidebar .view-actions {
    display: none;
}
