.pp-sidebar.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--divider-width) solid var(--divider-color);
    padding: var(--size-4-2);
}

.invalid-view>.pp-sidebar {
    display: none;
}

.pp-sidebar ~ .if-invalid-view {
    display: none;
}

.invalid-view>.pp-sidebar ~ .if-invalid-view {
    display: block;
}
