/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.workspace-leaf-content[data-type=pdf-preview] .view-actions .pdf-page-numbers {
    margin-left: var(--size-4-2);
}

.workspace-leaf-content[data-type=pdf-preview] .view-content .pdf-page {
    display: none;
}

.workspace-leaf-content[data-type=pdf-preview] .view-content .pdf-page.pdf-page-with-content {
    box-shadow: var(--shadow-s);
    display: block;
}
